#bnrWrapper-320x50 {
    display: none;
    background: #fff;
    color: #575757;
    font-family: $fontRobotoRegular;
    font-size: 13px;
	width: 320px;
	height: 50px;
	position: relative;
	overflow: hidden;
	box-sizing: content-box;	
	#innerWrap-320x50 {
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		position: absolute;
		top: 2px;
		left: 2px;
		overflow: hidden;
	}
	p, span {
		line-height: 120%;
	}
	#overlay-320x50 {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		background-size: 100% 100%!important;
	}
	#btnWrap-320x50 {
		width: 90px;
		height: 30px;
		position: absolute;
		bottom:8px;
		right: -130px;
		z-index: 99;
	}
	.btn-320x50 {
		width: 100%;
		height: 38px;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
	}
	.btn-320x50 p {
		width: calc(100% - 10px);
		height: 30px;
		margin: 0 auto;
		padding: 9px 0;
		text-align: center;
		text-transform: lowercase;
		line-height: normal;
		font-size: 10px;
		font-weight: 700;
		background: #fff;
		color: #575757;
	}
	.btn-320x50 p::first-letter {
		text-transform: capitalize;
	}
	#btn2-320x50 {
		opacity: 0;
	}
	#logo-320x50 {
		width: 75px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -75px;
		background-size: 100% 100%!important;
	}
	.messageWrap {
		display: table;
		width: 150px;
		position: absolute;
		top: 0;
		left: 75px;
		padding: 0 5px;
		z-index: 2;
	}
	#message1Wrap-320x50, #messageExtraWrap-320x50 {
		height: 100%
	}
	#message2Wrap-320x50 {
		display: none;
	}
	.message {
		width: 100%;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
	#img1-320x50, #imgExtra-320x50 {
		display: none;
	}
	#img2-320x50 {
		width: 200px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
	}
	#roundelWrap-320x50 {
		display: table;
		width: 150px;
		height: 100%;
		padding: 0 0 0 10px;
		position: absolute;
		top: 0;
		left: 75px;
		z-index: 3;
		overflow: visible!important;
	}
	#roundelMessage-320x50 { 
		width: 100%;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
	#roundel-320x50 {
		width: 50%;
		fill: #fff;
		position: absolute;
		top: -10%;
		left: 0;
		z-index: -1;
	}
	.fade {
		opacity: 0;
	}
}	