/** ///////////// - fonts.scss - start - ///////////// */

/** // Roboto font */
@font-face {
    font-family: 'robotoLight';
    src: url('../fonts/roboto/roboto-light-webfont.eot');
    src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), 
    	 url('../fonts/roboto/roboto-light-webfont.woff') format('woff'), 
		 url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'), 
		 url('../fonts/roboto/roboto-light-webfont.svg#robotoLight') format('svg');
	font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'robotoRegular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), 
    	 url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'), 
		 url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'), 
		 url('../fonts/roboto/roboto-regular-webfont.svg#robotoRegular') format('svg');
	font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'robotoBold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), 
    	 url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'), 
		 url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'), 
		 url('../fonts/roboto/roboto-bold-webfont.svg#robotoBold') format('svg');
	font-weight: normal;
    font-style: normal; }    
@font-face {
    font-family: 'robotoBlack';
    src: url('../fonts/roboto/roboto-black-webfont.eot');
    src: url('../fonts/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), 
    	 url('../fonts/roboto/roboto-black-webfont.woff') format('woff'), 
		 url('../fonts/roboto/roboto-black-webfont.ttf') format('truetype'), 
		 url('../fonts/roboto/roboto-black-webfont.svg#robotoBlack') format('svg');
	font-weight: normal;
    font-style: normal; }
/** // Good dog font */    
@font-face {
    font-family: 'goodDog';
    src: url('../fonts/goodDog/goodDog-webfont.eot');
    src: url('../fonts/goodDog/goodDog-webfont.eot?#iefix') format('embedded-opentype'), 
    	 url('../fonts/goodDog/goodDog-webfont.woff') format('woff'), 
		 url('../fonts/goodDog/goodDog-webfont.ttf') format('truetype'), 
		 url('../fonts/goodDog/goodDog-webfont.svg#goodDog') format('svg');
	font-weight: normal;
    font-style: normal; }    

    
/** // Icon font */ 
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?qif47s');
  src:  url('../fonts/icons/icomoon.eot?qif47s#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?qif47s') format('truetype'),
    url('../fonts/icons/icomoon.woff?qif47s') format('woff'),
    url('../fonts/icons/icomoon.svg?qif47s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowFillDown:before {
  content: "\e900";
}
.icon-dot:before {
  content: "\e901";
}
.icon-dotOutline:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e904";
}
$iconCodeDot: '\e901'; 
$iconCodeDotOutline: '\e902';

/** ///////////// - fonts.scss - end - ///////////// */
