/** ///////////// - grid.scss - start - ///////////// */

.orange {
	background: orange;
}
.purple {
	background: purple;
}
.green {
	background: green;
}

/** //frame/grid style start */
#pageWrap {
	width: 100%;
	@include clearfix();
	margin: 0 auto;
	background: $white;
	overflow: hidden;
}
.innerWrap {
	max-width: 1200px;
	@include clearfix();
	margin: 0 auto;
}
main {
	@include clearfix();
// 	margin-top: 110px;
	.elementWrap {
		@include clearfix();
	}
	@include bp(sml) {
// 		margin-top: 70px;
	}
}
footer {
	padding: 30px;
}
section {
	
}
.element {
	position: relative;
	overflow: hidden;
	margin: 15px;
	&.fullColor {
		margin: 0;
		padding: 15px;
	}
	@include bp(sml) {
		margin: 20px;
		&.fullColor {
			margin: 0;
			padding: 20px;
		}
	}
	@include bp(med) {
		margin: 30px;
		&.fullColor {
			margin: 0;
			padding: 30px;
		}
	}
	&.overVis {
		* {
			overflow: visible!important;
		}
		.stillHide {
			overflow: hidden!important;
			* {
				overflow: hidden!important;	
			}
		}
	}
}
.innerPad {
	padding: 30px 30px 15px 30px;
	@include bp(med) {
		padding: 30px 30px 0 30px;
	}
}
.rowWrap {
	@include clearfix();
	position: relative;
	width: 100%;
	margin: 0 0 -10px 0;
	opacity: 0;
	overflow: hidden;
	@include bp(med) {
		margin: 0 0 -20px 0;
	}
}
.row {
	@include clearfix();
	width: calc(100% + 10px);
	position: relative;
	margin: 0 -5px;
	@include bp(med) {
		width: calc(100% + 20px);
		margin: 0 -10px;
	}
	@include bp(lrg) {
		.row {
			width: calc(100% + 20px);
		}
	}
	@include bp(xlrg) {
		.row {
			width: calc(100% + 20px);
		}
	}
}
.clear {
	@include clearfix();
}
.nestRow {
	@include clearfix();
	width: 100%;
	position: relative;
	margin-bottom: 0;
}
.col {
	@include clearfix();
	display: inline;
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 5px;
	overflow: hidden;
	&.swapLeft {
		float: left;
	}
	&.swapRight {
		float: right;
	}
	@include bp(med) {
		padding: 0 10px;
	}
}
.themeWrap {
	border: 1px solid $mainColor;
}
.innerThemeWrap {
	@include clearfix();
	margin-bottom: -10px;
	overflow: hidden;
	@include bp(med) {
		margin-bottom: 0;
	}
}
.overVis {
	overflow: visible;
}
.innerTheme {
	@include clearfix();
	margin-bottom: 20px;
}
.mobAuto {
	width: auto;
}
.mobFloatOn {
	width: 100%;
	float: left;
}
.mobFloatOff {
	width: auto;
	float: none;
}
.mob0 {
	display: none;
}
@for $i from 1 through 12 {
	.mob#{$i} { 
    	max-width: calc((100% / 12) * #{$i});
		width: calc((100% / 12) * #{$i});
	}
}
.mob5th { 
	max-width: 20%;
	width: 20%;
}
/** //fix for IE10+ start */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.mob1 { 
		width: 8.33%;
	}
	.mob2 { 
		width: 16.66%;
	}
	.mob3 { 
		width: 25%;
	}
	.mob4 { 
		width: 33.33%;
	}
	.mob5 { 
		width: 41.66%;
	}
	.mob6 { 
		width: 50%;
	}
	.mob7 { 
		width: 58.33%;
	}
	.mob8 { 
		width: 66.66%;
	}
	.mob9 { 
		width: 75%;
	}
	.mob10 { 
		width: 83.33%;
	}
	.mob11 { 
		width: 91.66%;
	}
	.mob12 { 
		width: 100%;
	}
}
/** //fix for IE10+ end */
@include bp(sml) {
	.smlAuto {
		width: auto;
	}
	.smlFloatOn {
		width: 100%;
		float: left;
	}
	.smlFloatOff {
		width: auto;
		float: none;
	}
	.sml0 {
		display: none;
	}
	@for $i from 1 through 12 {
    	.sml#{$i} { 
	    	display: block;
	    	max-width: calc((100% / 12) * #{$i});
			width: calc((100% / 12) * #{$i});
		}
	}
	.sml5th { 
    	max-width: 20%;
		width: 20%;
	}
	/** //fix for IE10+ start */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.sml1 { 
			width: 8.33%;
		}
		.sml2 { 
			width: 16.66%;
		}
		.sml3 { 
			width: 25%;
		}
    	.sml4 { 
			width: 33.33%;
		}
		.sml5 { 
			width: 41.66%;
		}
		.sml6 { 
			width: 50%;
		}
		.sml7 { 
			width: 58.33%;
		}
		.sml8 { 
			width: 66.66%;
		}
		.sml9 { 
			width: 75%;
		}
		.sml10 { 
			width: 83.33%;
		}
		.sml11 { 
			width: 91.66%;
		}
		.sml12 { 
			width: 100%;
		}
	}
	/** //fix for IE10+ end */
}
@include bp(med) {
	.medAuto {
		width: auto;
	}
	.medFloatOn {
		width: 100%;
		float: left;
	}
	.medFloatOff {
		width: auto;
		float: none;
	}
	.med0 {
		display: none;
	}
	@for $i from 1 through 12 {
    	.med#{$i} {
	    	display: block; 
	    	max-width: calc((100% / 12) * #{$i});
			width: calc((100% / 12) * #{$i});
		}
	}
	.med5th { 
    	max-width: 20%;
		width: 20%;
	}
	/** //fix for IE10+ start */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.med1 { 
			width: 8.33%;
		}
		.med2 { 
			width: 16.66%;
		}
		.med3 { 
			width: 25%;
		}
    	.med4 { 
			width: 33.33%;
		}
		.med5 { 
			width: 41.66%;
		}
		.med6 { 
			width: 50%;
		}
		.med7 { 
			width: 58.33%;
		}
		.med8 { 
			width: 66.66%;
		}
		.med9 { 
			width: 75%;
		}
		.med10 { 
			width: 83.33%;
		}
		.med11 { 
			width: 91.66%;
		}
		.med12 { 
			width: 100%;
		}
	}
	/** //fix for IE10+ end */
}
@include bp(lrg) {
	.lrgAuto {
		width: auto;
	}
	.lrgFloatOn {
		width: 100%;
		float: left;
	}
	.lrgFloatOff {
		width: auto;
		float: none;
	}
	.lrg0 {
		display: none;
	}
	@for $i from 1 through 12 {
    	.lrg#{$i} {
	    	display: block; 
	    	max-width: calc((100% / 12) * #{$i});
			width: calc((100% / 12) * #{$i});
		} 
	}
	.lrg5th { 
    	max-width: 20%;
		width: 20%;
	}
	/** //fix for IE10+ start */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.lrg1 { 
			width: 8.33%;
		}
		.lrg2 { 
			width: 16.66%;
		}
		.lrg3 { 
			width: 25%;
		}
    	.lrg4 { 
			width: 33.33%;
		}
		.lrg5 { 
			width: 41.66%;
		}
		.lrg6 { 
			width: 50%;
		}
		.lrg7 { 
			width: 58.33%;
		}
		.lrg8 { 
			width: 66.66%;
		}
		.lrg9 { 
			width: 75%;
		}
		.lrg10 { 
			width: 83.33%;
		}
		.lrg11 { 
			width: 91.66%;
		}
		.lrg12 { 
			width: 100%;
		}
	}
	/** //fix for IE10+ end */
}
@include bp(xlrg) {
	.xlrgAuto {
		width: auto;
	}
	.xlrgFloatOn {
		width: 100%;
		float: left;
	}
	.xlrgFloatOff {
		width: auto;
		float: none;
	}
	.xlrg0 {
		display: none;
	}
	@for $i from 1 through 12 {
    	.xlrg#{$i} {
	    	display: block; 
	    	max-width: calc((100% / 12) * #{$i});
			width: calc((100% / 12) * #{$i});
		}
	}
	.xlrg5th { 
    	max-width: 20%;
		width: 20%;
	}
	/** //fix for IE10+ start */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.xlrg1 { 
			width: 8.33%;
		}
		.xlrg2 { 
			width: 16.66%;
		}
		.xlrg3 { 
			width: 25%;
		}
    	.xlrg4 { 
			width: 33.33%;
		}
		.xlrg5 { 
			width: 41.66%;
		}
		.xlrg6 { 
			width: 50%;
		}
		.xlrg7 { 
			width: 58.33%;
		}
		.xlrg8 { 
			width: 66.66%;
		}
		.xlrg9 { 
			width: 75%;
		}
		.xlrg10 { 
			width: 83.33%;
		}
		.xlrg11 { 
			width: 91.66%;
		}
		.xlrg12 { 
			width: 100%;
		}
	}
	/** //fix for IE10+ end */
}
/** //frame/grid style end */

/** //restrict style start */
.restrict {
	margin-left: auto;
	margin-right: auto;
	$i: 0;
	$unit: '%';
	@while $i < 101 {
		&.mob#{$i} {
			width: #{$i}#{$unit};
		}
		$i: $i + 5;
	}
	@include bp(sml) {	
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.sml#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 5;
		}
	}
	@include bp(med) {
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.med#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 5;
		}
	}
	@include bp(lrg) {
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.lrg#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 5;
		}
	}
	@include bp(xlrg) {
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.xlrg#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 5;
		}
	}
}
.restrictPx {
	$i: 0;
	$unit: 'px';
	@while $i < 1201 {
		&.mob#{$i} {
			width: #{$i}#{$unit};
		}
		$i: $i + 10;
	}
	@include bp(sml) {	
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.sml#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 10;
		}
	}
	@include bp(med) {
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.med#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 10;
		}
	}
	@include bp(lrg) {
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.lrg#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 10;
		}
	}
	@include bp(xlrg) {
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.xlrg#{$i} {
				width: #{$i}#{$unit};
			}
			$i: $i + 10;
		}
	}
}
.restrictMinusPx {
	$i: 0;
	$unit: 'px';
	@while $i < 1201 {
		&.mob#{$i} {
			width: calc(100% - #{$i}#{$unit});
		}
		$i: $i + 10;
	}
	@include bp(sml) {	
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.sml#{$i} {
				width: calc(100% - #{$i}#{$unit});
			}
			$i: $i + 10;
		}
	}
	@include bp(med) {
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.med#{$i} {
				width: calc(100% - #{$i}#{$unit});
			}
			$i: $i + 10;
		}
	}
	@include bp(lrg) {
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.lrg#{$i} {
				width: calc(100% - #{$i}#{$unit});
			}
			$i: $i + 10;
		}
	}
	@include bp(xlrg) {
		$i: 0;
		$unit: 'px';
		@while $i < 1201 {
			&.xlrg#{$i} {
				width: calc(100% - #{$i}#{$unit});
			}
			$i: $i + 10;
		}
	}
}

/** //restrict style end */

/** //ghost style start */
.ghost {
	opacity: 0;
}
.jsGhost {
	display: none;
	position: fixed;
	top: 0;
	z-index: -1;
	opacity: 0;
}
/** //ghost style end */

/** //componant margin style start */
h1, h2, h3, h4, h5, h6, p, a, img, .vidWrap, ul.btmMar, .infoWrap, .btn, .table, .borderWrap, .themeWrap, .galleryWrap, .field, .bnrWrap {
	margin-bottom: 10px;
	@include bp(med) {
		margin-bottom: 20px;
	}
}
.bulletList {
	
}
.bulletWrap {
	
}
.cellIconWrap {
	margin-bottom: 15px;
	@include bp(med) {
		margin-bottom: 20px;
	}
}
.buttUp {
	h1, h2, h3, h4, h5, h6, p, a, img, .vidWrap, ul.btmMar, .infoWrap, .cellIconWrap, .btnWrap, .table, .field, .bnrWrap {
		margin-bottom: 0!important;
	}
}
li {
	a {
		margin-bottom: 0;
	}
}
.desc {
	margin-bottom: 5px;
}
.infoWrap {
	@include clearfix();
	h1, h2, h3, h4, h5, h6, p, a, img, .cellIconWrap, .btnWrap, .field, .bnrWrap {
		margin-bottom: 0;
	}
}
.borderLeft {
	border-left: 2px solid $mainColor;
}
.borderRight {
	border-right: 2px solid $mainColor;
}
.offset {
	$i: 0;
	$unit: '%';
	@while $i < 101 {
		&.offMob#{$i} {
			&.offLeft {
				margin-right: #{$i}#{$unit};
			}
			&.offRight {
				margin-left: #{$i}#{$unit};
			}
		}
		$i: $i + 5;
	}
	@include bp(sml) {	
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.offSml#{$i} {
				&.offLeft {
					margin-right: #{$i}#{$unit};
				}
				&.offRight {
					margin-left: #{$i}#{$unit};
				}
			}
			$i: $i + 5;
		}
	}
	@include bp(med) {
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.offMed#{$i} {
				&.offLeft {
					margin-right: #{$i}#{$unit};
				}
				&.offRight {
					margin-left: #{$i}#{$unit};
				}
			}
			$i: $i + 5;
		}
	}
	@include bp(lrg) {
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.offLrg#{$i} {
				&.offLeft {
					margin-right: #{$i}#{$unit};
				}
				&.offRight {
					margin-left: #{$i}#{$unit};
				}
			}
			$i: $i + 5;
		}
	}
	@include bp(xlrg) {
		$i: 0;
		$unit: '%';
		@while $i < 101 {
			&.offXlrg#{$i} {
				&.offLeft {
					margin-right: #{$i}#{$unit};
				}
				&.offRight {
					margin-left: #{$i}#{$unit};
				}
			}
			$i: $i + 5;
		}
	}
}
/** //componant margin style end */

/** ///////////// - grid.scss - end - ///////////// */
