/** ///////////// - variable.scss - start - ///////////// */

@import 'fonts';

/** ////breakpoint variables start */
$smlBP: 480px;
$medBP: 768px;
$lrgBP: 992px;
$xlrgBP: 1200px;
/** ////breakpoint variables end */

/** ////font variables start */
/** //font roboto */
$fontRobotoLight:   'robotoLight', Arial, Helvetica, sans-serif;
$fontRobotoRegular:   'robotoRegular', Arial, Helvetica, sans-serif;
$fontRobotoBold:   'robotoBold', Arial, Helvetica, sans-serif;
$fontRobotoBlack:   'robotoBlack', Arial, Helvetica, sans-serif;
/** //font good dog */
$fontGoodDog:   'goodDog', Arial, Helvetica, sans-serif;

/** ////colour variables start */
/** //global colours */
$grey: #555;
$lightGrey: #999;
$extraLightGrey: #E7E7E7;
$darkGrey: #333;
$white: #fff;
$black: #000;
/** //body copy colour */
$bodyCopy: #575757;

$mandy: #EA495C;
$flamePea: #DC5827;
$halfBaked: #83CBCE;
$persianGreen: #009B9B;
$goldenDream: #EED923;
$qunicy: #5E3A29;

$mainColor: $mandy;
			
/** ///////////// - variable.scss - start - ///////////// */
